@model ADASOFT.Data.Entities.User

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
     <partial name="_UserDetails"/>
</div>
   
   
<div>
   
    <a asp-action="Index" asp-route-id="@Model?.Id" class="btn btn-outline-success">Regresar</a>
</div>
 <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">

                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Attendantes.FirstOrDefault().Document)
                            </th>
                           @* <th>
                                @Html.DisplayNameFor(model => model.Attendantes.FirstOrDefault().AttendantesNumber)
                            </th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Attendantes)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Document)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.AttendantesNumber)
                                </td>*@
                                <td>
                                    <a asp-action="EditCity" asp-route-id="@item.Id" class="btn btn-outline-warning">Editar</a>
                                    <a asp-action="DetailsCity" asp-route-id="@item.Id" class="btn btn-outline-info">Detalles</a>
                                    <a asp-action="DeleteCity" asp-route-id="@item.Id" class="btn btn-outline-danger">Borrar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>