@model ADASOFT.Models.HomeViewModel
 @{
    ViewData["Title"] = "Home Page";
}

<style type="text/css">
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid lightgray;
        box-shadow: 2px 2px 8px 4px #d3d3d3d1;
        border-radius: 15px;
        font-family: sans-serif;
        margin: 5px;
    }

    .carousel-inner img {
        height: 545px;
    }

    .carousel-inner {
        position: relative;
        height: 545px;
        background: #d8ebda;
    }

    .carousel-caption {
        text-shadow: 0 1px 4px rgba(0,0,0,.9);
        font-size: 17px;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
        width: 100%;
        left: 0px;
        right: 0px;
        bottom: 0px;
        text-align: left;
        padding-top: 5px;
        padding-left: 15%;
        padding-right: 15%;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        position: absolute;
        top: 200px;
        font-size: 55px;
        width: 100px;
        height: 50px;
    }
    /*  .row{
            margin-left:0 !important;
            margin-right:0 !important;
        }*/
</style>

<div class="container-xxl" style="padding:0;">


    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="margin-top:-1.25%;">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">

                <div class="row align-items-center">
                    <div class="col-md py-2">
                        <video src="~/Images/art.mp4" autoplay muted loop height="555" style="margin-top:-1%;"></video>
                    </div>
                    <div class="col-md py-2">
                        @*<marquee  behavior="scroll" direction="up"> *@
                        <div align="center">
                            <img class="d-block img-fluid w-50" src="~/Images/ADASOFT_Transp.png" alt="First slide" style="height:100px; top:-10px;">
                        </div>
                        @*</marquee>*@
                        <br />
                        <br />
                        <br />

                        <font face="Arial" style="text-shadow: 0 1px 4px rgba(0,0,0,.1); font-size:17px;">
                            <p>
                                <b>
                                    ADASOFT es un espacio que busca la creación y expansión formativa de diferentes manifestaciones artísticas,
                                    estéticas y culturales a través de una apuesta por el aprendizaje y la experimentación,
                                    en una labor conjunta entre docentes y alumnos en diferentes cursos permanentes
                                    de artes plásticas, danza, música y artes visuales.
                                </b>
                            </p>

                        </font>
                </div>
            </div>
       </div>
            <div class="carousel-item">
                <img src="~/Images/baile3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1><b>Baile</b></h1>
                    <p>
                        <b>
                            Explorando posibilidades de movimiento,
                            profundizando en el arte,
                            potenciando la creatividad.
                        </b>
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/musica1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1><b>Música</b></h1>
                    <p>
                        <b>
                            Desarrollar la creatividad, la inteligencia emocional y la sensibilidad.
                            A su vez, la práctica de ésta disciplina estimula las capacidades motoras,
                            cognitivas, afectivas, introspectivas, perceptivas de las personas.
                            Como también fomenta el trabajo en equipo y la valoración individual.
                        </b>
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/pintura1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1><b>Pintura</b></h1>
                    <p>
                        <b>
                            Aprender a profundizar en las diferentes técnicas pictóricas,
                            dándole profundidad y madurez al trabajo personal. Permitiendo así,
                            la capacidad de creación y expresión artística.
                        </b>
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Images/escultura.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1><b>Escultura</b></h1>
                    <p>
                        <b>
                            Descubrir los volúmenes reales de los objetos y las personas;
                            esa esencia que transmite la tridimensionalidad, y que tan bien
                            reflejan hoy día los gráficos 3D de muchos videojuegos o
                            proyectos de animación. Porque solo con ver no es suficiente.
                        </b>
                    </p>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" style="color:red;" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br />
<br />
<div class="container">
    <h2>¡Es hora de elegir tus cursos!</h2>
    <h2></h2>

    <div class="mb-2">
        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Ordenar por nombre</a>&nbsp;&nbsp;
        <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]">Ordenar por precio</a>
    </div>

    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Buscar por nombre: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Buscar" class="btn btn-warning" />
                <a asp-action="Index" class="btn btn-success">Ver todo</a>
            </p>
        </div>
    </form>

    @if (Model.Quantity > 0)
    {
        <a asp-action="ShowCart" class="btn btn-outline-primary" style="margin: 20px;">Ver Cursos Inscritos(@Model.Quantity)</a>
    }

    <div class="row row-cols-1 row-cols-md-4 g-4 mt-1">
        @if (Model.Courses.Count() > 0)
        {
            @foreach (var item in Model.Courses)
            {
                <div class="col">
                    <div class="card h-100">
                        <div class="text-center zoom">
                            <img src="@item.ImageFullPath" style="height:150px; max-width:200px;" class="text-center" alt=@item.Name />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-navy"> @item.Name</h5>
                            <p class="card-text smfnt">@item.Description</p>
                            <h5 class="text-muted">@Html.DisplayFor(modelItem => item.Price)</h5>
                            <p class="card-text smfnt">@item.Schedule</p>
                            <p class="card-text smfnt">@item.Days</p>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Detalles</a>
                            @if (!User.Identity.IsAuthenticated || User.IsInRole("User"))
                            {
                                <a asp-action="Add" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Inscribirse</a>
                            }
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h3>No hay curso con su criterio de búsqueda</h3>
        }
    </div>
    @{
        var prevDisabled = !Model.Courses.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Courses.HasNextPage ? "disabled" : "";
    }

    <div class="mt-5">
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.Courses.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-warning @prevDisabled">
            Anterior
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.Courses.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-success @nextDisabled">
            Siguiente
        </a>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}