@model ADASOFT.Data.Entities.Course

<table class="table table-striped table-responsive-md table-bordered smfont"  id="UsersTable">
    <colgroup>
        <col span="1" />
        <col span="1" />
        <col span="1" />
        <col span="1" />
        <col span="1" />
        <col span="1" />
        <col span="1" />
        <col span="1" />
    </colgroup>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentCourses.FirstOrDefault().GradesNumber)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StudentCourses)
        {
        <tr>
            <td>
                <a asp-action="DetailsGrade" asp-controller="StudentCourse" asp-route-Id="@item.Id">@Html.DisplayFor(modelItem => item.User.FullName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradesNumber)
             </td>
        </tr>
        }
    </tbody>
</table>


